{% extends 'todo/main.html' %}

{% block content %}
<Div class = 'container'>
    <div class= 'header-bar'><h1>login</h1></div>
    <div class='card-body'>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input class='button' type="submit" value="Login">
        <small><p>Don't have an account yet? <a href="{% url 'register' %}">Register new account</a></p></small>
    </form>
    </div>
</Div>
{% endblock content %}

{% block extra_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}